@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f3f3f3;
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.nav_top {
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  box-shadow: 0px 1px 5px #888;
}
.nav_top a {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  color: #666;
  font-size: 24px;
}
.nav_top a:hover {
  color: #444;
  border-bottom: 2px solid #333;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 4em;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  background-color: #f3f3f3;
  box-shadow: 1px 1px 10px #e7e7e7;
}
.card_container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: auto;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  background-color: #f3f3f3;
  box-shadow: 1px 1px 10px #e7e7e7;
}
.but_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: auto;
  min-height: 100px;
  position: fixed;
  bottom: 6%;
  right: 3%;
  caret-color: transparent;
  z-index: 1;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 6%;
  right: 3%;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
  background-color: forestgreen;
  cursor: pointer;
  caret-color: transparent;
  z-index: 1;
}
.buttons p {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  position: fixed;
}
.init_button {
  display: none;
  width: 50px;
  height: 60px; /* não esta funcionando */
  position: relative;
  margin: 20px 0;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
  background-color: forestgreen;
  animation: open 800ms ease forwards;
  cursor: pointer;
}
@keyframes open {
  0% {
    transform: rotateX(0deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
    translate: 0 -80px;
  }
}
#month {
  text-align: center;
  color: #666;
}
.card {
  width: 250px;
  height: 154px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  box-shadow: 2px 4px 18px 2px rgba(0, 0, 0, 0.25);
}
.card-details {
  color: #444;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(221, 221, 221, 0.8);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.9);
  z-index: 2;
  display: none;
}
.new_client_form,
.search_form,
.form_schedule {
  width: 25em;
  height: auto;
  padding: 3em;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #d8d8d8;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.new_client_form form,
.search_form form,
.form_schedule form {
  padding: 5em;
}
.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  color: #888;
  font-size: 20px;
  caret-color: transparent;
}
.calendar ul li,
.table_head li {
  width: calc(100% / 13);
  list-style: none;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 35px;
  font-weight: bold;
}
.calendar ul li:hover {
  background-color: #6299ff;
  color: white;
  cursor: pointer;
}
.table_head {
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#daysMonth {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.patients_table_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  caret: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.patients_table {
  width: 80%;
  caret: transparent;
}
.patients_table th {
  text-align: left;
}
#form_title {
  text-align: center;
}
#update_button {
  display: none;
}
#register_button {
  display: flex;
}
.little_schedule {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: -19.5%;
  top: 10%;
  width: 20%;
  height: auto;
  border: 1px solid black;
  border-radius: 1em;
  background-color: rgba(200, 200, 200, 0.4);
  transition: 1.5s;
}
.little_schedule:hover {
  left: -2%;
}
.lTitle {
  margin-left: 2em;
  text-align: right;
}
.llist {
  height: auto;
  margin-bottom: 2em;
}
